.Home{
width: 100%;
height: 100%;
overflow: hidden;
display: flex;
flex-direction: column;
align-items: center;
}

.carousel-inner{
    background-color:rgba(0, 0, 0, 0.431);
    display: flex;
    
}

.Home-news{
    margin: 6rem 0 3rem 0;
    width: 800px;
    height: 450px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.Home-news-loading{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(226, 226, 226);
    width: 800px;
    height: 450px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

}

.carousel-item img{
    height: 450px !important;
    width: auto;
    margin: auto !important;
}

.carousel-caption h5{
    padding-top: 1rem;
    font-size: 2rem !important;
    background-color: rgba(0, 0, 0, 0.664);
    position: absolute;
    width: 800px;
    height: 140px;
    left: -120px;
    top: -80px;
}

.fetchFailed{
    width: 800px;
    height: 450px;
}



.Home-movies{
    padding: 15px 0 0 15px;
    display: flex;
    width: 1200px;
    justify-content: space-between;
    overflow-x: scroll;
    
}

.Home-movies div:nth-last-child(2){
    margin-right: 0;

}

.pseudo-element{
    min-width: 15px;
    padding: 0;
    background-color: rgb(226, 226, 226);
}

.loading{

    width:300px;
    height:100px;
    position:relative;
    left: 100px;
    top: -50px;
    
  }
  
  .loading span {
    display:block;
    position:absolute;
    bottom:0;
    height:35px;
    width:20px;
    background-color:green;
    animation: waving 1.5s infinite ease-in-out ;
  }
  
  .loading span:nth-of-type(2){
    left:25px;
    animation-delay:.2s;
  }
  .loading span:nth-of-type(3){
    left:50px;
    animation-delay:.4s;
  }
  .loading span:nth-of-type(4){
    left:75px;
    animation-delay:.6s;
  }
  .loading span:nth-of-type(5){
    left:100px;
    animation-delay:.8s;
    transform-origin:center;
  }
  
  @keyframes waving{
    0%,50%,100%{
      height:35px;
      transform:translatey(0);
      background-color:blue;
    }
    25%{
      height:150px;
      transform:translatey(50px);
      background-color:red;
    }
  }


@media(max-width:1300px){
    .Home-movies{
        width: 800px;
    }

    
}

@media(max-width:850px){
    .Home-movies{
        width: 100%;
    }
    .fetchFailed{
        width:450px;
        height: 253.13px;
    }

    .Home-news{
        width: 450px;
        height: 253.13px;
    }

    .Home-news-loading{
        width: 450px;
        height: 253.13px;
        
    }
    .loading{
        transform: scale(0.5);
        top:-20px;
        left: 50px;
    }

    .carousel-item img{
        height: 253.13px !important;
        margin: auto !important;
    }

    .carousel-caption h5{
        font-size: 0.8rem !important;
    
    }

    .trending{
        font-size: 1.5rem;
    }

    .carousel-caption h5{
        padding-top: 0.8rem;
        font-size: 1rem !important;
        width: 450px;
        height: 130px;
        left: -68px;
        top: -30px;
    }
}

@media(max-width:450px){
    .Home-news{

        width: 360px !important;
        height: 202.50px !important;
    }

    .Home-news-loading{
        width: 360px ;
        height: 202.50px ;

    }

    .carousel-item img{
        width: 360px !important;
        height: 202.50px !important;
    }

    .fetchFailed{
        width:360px;
        height: 202.50px;
    }

    .carousel-caption h5{
        padding-top: 0.8rem;
        font-size: 1rem !important;
        width: 360px;
        height: 130px;
        left: -54px;
        top: -30px;
    }
}