.Home{
width: 100%;
overflow: auto;
display: flex;
flex-direction: column;
align-items: center;
}

.carousel-inner{
    background-color:rgba(0, 0, 0, 0.431);
    display: flex;
    
}

.Home-news{
    margin: 3rem 0;
    width: 800px;
    height: 450px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.carousel-item img{
    height: 450px !important;
    width: auto;
    margin: auto !important;
}

.carousel-caption h5{
    font-size: 2rem !important;
}



.Home-movies{
    padding: 15px 0 0 15px;
    display: flex;
    width: 1200px;
    justify-content: space-between;
    overflow: auto;
}

.Home-movies div:nth-last-child(2){
    margin-right: 0;

}

.pseudo-element{
    min-width: 15px;
    padding: 0;
    background-color: rgb(226, 226, 226);
}


@media(max-width:1300px){
    .Home-movies{
        width: 800px;
    }
}

@media(max-width:850px){
    .Home-movies{
        width: 100%;
    }

    .Home-news{
        width: 450px;
        height: 253.13px;
    }

    .carousel-item img{
        height: 253.13px !important;
        margin: auto !important;
    }

    .carousel-caption h5{
        font-size: 0.8rem !important;
    
    }

    .trending{
        font-size: 1.5rem;
    }
}

@media(max-width:450px){
    .Home-news{

        width: 100%;
        height: auto !important;
    }

    .carousel-item img{
        width: 100%;
        height: auto !important;
    }
}