.card {
    width: 10rem;
    min-width: 10rem;
    margin-right: 1.6rem;
    background-color: rgb(226, 226, 226);
    border: none;
}

.card-body{
    padding: 0 ;
    display: flex;
    flex-direction: column;
    height: 10rem;
    overflow: hidden;
    word-wrap: break-word;
    
}

.card-img-top{
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    height: 240.42px;
}

.card-img-top:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    cursor: pointer;
    transform: scale(1.1);
    
}
.card-img-top:hover ~ .card-body > .score-container {
    transform: scale(1.2) translateY(12px) ;
    
}

.fa-star{
    color: rgb(221, 221, 0);
}

svg {
    transform: rotate(-90deg);
    stroke-dasharray: 251;
    /* (2PI * 40px) */
    stroke-dashoffset: 50;
    height: 60px;
    width: 60px;

  }
  .score-container{
    position: absolute;
    left: 10px;
    top: 205px;
    display: flex;
    align-content: center;
    justify-content: center;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }
 

.percentage{
    color: white;
    font-size: 0.5rem;
    position: absolute;
    top: 22px;
    left: 37px;
}
.score-points{
    position: absolute;
    top: 20px;
    left: 17px;
    color: white;
}


.card-title{
    font-weight: bold;
    margin-top: 1.6rem;
    margin-bottom: 0;
    font-size: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;   
}

.card-release-date{
    color: grey;
}



@media(max-width:850px){
    .card-img-top{
        height: 168.3px;
    }
    .card {
        width: 7rem;
        min-width: 7rem; 
    }

    .score-container{
        left: 0px;
        top: 135px;
        transform: scale(0.8);         
    }

    .card-img-top:hover ~ .card-body > .score-container {
        transform: scale(1) translateY(12px) ;
        
    }   
}