

.form-control{
    width:500px !important;
   
}
.navbar-nav{
    margin: 0 !important;
}

.about{
    float: right !important;
}

.navbar-collapse{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form-inline{
    margin: auto!important;    
}

.home-img{
    height:30px;
    width:30px ;
    margin-right: 0.5rem ;
    transform: translateY(-3px);
}
 .dropdown{
    position: absolute;
    
   
}

.dropdown-menu{
    
    margin-top: 0.2rem;
    padding: 0;
    height: 302px;
    width: 500px;
} 




@media(max-width:991px){
    .home-text{
        display: none;
    }
    .about{
        float: none !important;
    }
    
    .navbar-collapse{
        display: flex;
        flex-direction: column;
    
    }
    
}



@media(max-width:750px){
    .dropdown-menu{
        width: 350px !important;
        
    }

    .form-control{
        width:350px !important;
       
    } 

   
}


@media(max-width:575px){
    .navbar{
        display: flex !important;
        flex-wrap: nowrap;
    }
    .btn-outline-success{
        margin: 0 !important;
    }
    .form-inline{
        display: flex !important; 
        flex-direction: row;
        flex-wrap: nowrap;
        text-align: center;
        justify-content: space-between;
        
    }
   
    .form-control{
        margin-right: 8px !important;
        width: 200px !important;
    }

    .about{
        display: none;
    }
    
    .dropdown-menu{
        width:200px !important;

        
        
    }
    

}